.card-counter{
    box-shadow: 2px 2px 10px #DADADA;
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    border-radius: 5px;
    transition: .3s linear all;
  }

  .card-counter:hover{
    box-shadow: 4px 4px 20px #DADADA;
    transition: .3s linear all;
  }

  .card-counter.primary{
    background-color: #007bff;
    color: #FFF;
  }

  .card-counter.danger{
    background-color: #ef5350;
    color: #FFF;
  }  

  .card-counter.success{
    background-color: #66bb6a;
    color: #FFF;
  }  

  .card-counter.info{
    background-color: #26c6da;
    color: #FFF;
  }  

  .card-counter i{
    font-size: 5em;
    opacity: 0.2;
  }

  .card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
  }

  .card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
  }

  
/*  */
         
  .makeStyles-fixedHeight-15 {
    height: 470px !important;
}

/* dashboard index page add css */
div#p1 {
    background: blueviolet;
    color: aliceblue;
}
div#p2 {
    background: #7f89ff;
    color: aliceblue;
}
div#p3 {
    background: cadetblue;
    color: aliceblue;
}
div#p4 {
    background: aliceblue;
    color: black;
}
div#p6 {
    background: aquamarine;
    color: black;
}
div#p5 {
    background: blue;
    color: aliceblue;
}
div#p7 {
    background: brown;
    color: aliceblue;
}
div#p8 {
    background: blueviolet;
    color: aliceblue;
}

span.span-order {
    margin-right: 91%;
    font-size: 17px;
}

/* add css in logo */
span.span-logo-name {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    padding: 0% 12% 0% 0%;
}
h4.h4-text {
    font-size: 18px;
    padding: 0% 88% 0% 0%;
    /* color: #6689c9; */
    color: #700acf;
}

/* heroBanner Css */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
     max-width: 100%; 
     /* width: 100%; */
     overflow-x: hidden;
     /* overflow-y: hidden; */
    /* background-color: #F6F6F6; */
    /* padding-right: 37px; */
    /* overflow: hidden; */
    
}
body::-webkit-scrollbar {
  width: 1.0em;
  scroll-behavior: smooth;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
/* header css  */
/* nav.navbar.navbar-inverse.showNav {
  height: 70px;
} 

/* .viewStyle{
  width: 70%;
  height: 353px;
  position: relative;
  border-radius: 10px;
} */
/* 
.view_right ul li {
  list-style: none;
  font-size: 15px;
  font-weight: 600;
  line-height: 40px;
} */
/* .navbar {
    position: relative;
     min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
} */


/*  */

/* Edit btn hero banner add css sata*/
span.edit-btn {
  margin: 55%;
}

span.reset-btn {
  margin-left: 100%;
  position: absolute;
  bottom: 57%;
  right: 30%;
}

p.p-message {
  margin-left: 10%;
}


/* doctor dashboard add css */
/* .div-left-class {
  position: absolute;
    width: 50%;
    margin: 0% 0% 0% 0%;
} */
.div-left-class {
  position: absolute;
  width: 48%;
  margin: 5% 0% 0% 1%;
  /* min-height: 400px; */
  height: 400px;
}
/* .div-right-class {
  position: absolute;
  width: 50%;
  margin: 0% 0% 0% -2%
} */
.div-right-class {
  /* position: absolute;
  width: 49%;
  margin: 0% 0% 0% -3%; */
  position: absolute;
  width: 49%;
  margin: 0% 0% 0% -3%;
  padding: 0% 0% 0% 2%;
  position: absolute;
  top: 50%
}

.div-itmeone-form {
  /* min-height: 400px; */
    /* min-height:667px; */
    height: 790px;
}

.div-boostrap-table {
  height: 710px;
}

.MuiGrid-spacing-xs-1 {
  width: 105% !important;
  margin: -4px ;
  overflow-x: hidden;
}

img.img-logo {
  margin-right: 75%;
}
.div-logo {
  padding: 7px 0px 0px 0px;
}

.div-left-contain {
  width: 97%;
  font-size: 20px;
  font-weight: 700;
  margin: 0% 0% 5% 15%;
}

.div-right-contain {
  /* margin-left: 235%; */
  /* padding: 3% 0% 0% 39%;
  position: absolute;
  top: 36%;
  right: 54%;
  font-size: 18px;
  font-weight: 700; */
  font-size: 18px;
    font-weight: 700;
    margin-left: 50%;
}

span.span-pulldata {
  background: #EF4444;
  padding: 3% 4% 5% 4%;
  border: 2px solid;
  border-radius: 26px;
  color: #ffffff;
  position: relative;
  right: 10%;
}

.div-Total-Appointments {
  padding: 0% 3% 0% 0%;
  /* width: 90%; */
  margin-left: 8%;
  line-height: 125px;
}
.div-Pending {
  padding: 0% 3% 0% 0%;
  margin-right: 1%;
  line-height: 125px;
}
.div-Completed {
  width: 95%;
  margin-left: 0%;
  line-height: 125px;
}
span.span-T-A {
  font-size: 14px;
  color: #383737;
  font-weight: 500;
}

span.span-T-A {
  font-size: 14px;
  color: #383737;
  font-weight: 500;
  position: relative;
  bottom: 18px;
}
span.span-pending {
  font-size: 14px;
  color: #383737;
  font-weight: 500;
  position: relative;
  bottom: 18px;
}
span.span-c {
  font-size: 14px;
  color: #383737;
  font-weight: 500;
  position: relative;
  bottom: 18px;
}
span.span-appoint {
    margin-right: 62%;
    font-size: 18px;
    font-weight: 700;
}

spna.span-meeting {
  margin-right: 65%;
  font-size: 18px;
  font-weight: 700;
  float: left;
  width: 50%;
}
spna.span-panding {
  /* float: right; */
  /* width: 0%; */
  /* width: 0%; */
  /* margin-left: 6%; */
  margin-left: 148%;
  position: relative;
  bottom: 25px;
  background: #DD4B34;
  padding: 2% 10% 2% 10%;
  color: #fff;
}

.App {
  text-align: center !important;
  overflow: hidden;
}

input#text-filter-column-name {
  /* position: absolute;
  bottom: 92%;
  right: -3%;
  width: 96%;
  margin: 5%; */

  
  position: absolute;
  bottom: 93%;
  right: -5%;
  width: 97%;
  margin: 5%
}

/* meeting add csss  */
 /* .MuiAppBar-colorPrimary {
  color: #000 !important;
  background-color: #E2DFDF !important;
  position: relative !important;
  bottom: 11px !important;
} */
/* .PrivateTabIndicator-colorSecondary-7 {
  background-color: #2e7c29 !important;
}  */

/* .div-right-class {
  position: absolute;
  width: 49%;
  margin: 0% 0% 0% -3%;
  padding: 0% 0% 0% 1%;
  position: absolute;
  top: 90%;
} */

.div-footer {
  margin-top: 56%;
}


/* serarch filter add csss start */
.div-searbar {
  /* margin: 0% 84% 1% 0%; */
    margin-right: 58%;
    padding: 0px 0px 8px 0px;
}
/* input.input-searchbar {
  padding: 6% 260% 6% 260%;
} */

input.input-searchbar {
  width: 235%;
}
span.span-searchIcon {
  margin-right: 86%;
  position: absolute;
  left: 95%;
}
/* enc css */

/* add css user icon in header start */
/* span.span-user-profile-icon {
  margin: 0% 0% 0% 0%; 
  padding: 32% -3%;
  position: relative;
  right: 40%;
} */
span.span-userIcon {
  color: aliceblue;
  border: 1px solid;
  /* border-radius: 15px;
  padding: 23% 35% 22% 35%;
  box-shadow: -2px 2px 1px 1px;
  position: relative;
  right: 40%;  */
}
/* end code */

/* start pagination add css */
span.span-pagination-btn {
  position: relative;
  top: 14px;
  left: 38%;
  font-weight: 300;
}

div#id-tabs {
  background: #d3d3d3;
  color: black;
}

.MuiAppBar-colorPrimary {
  color: #fff;
  /* background-color: #3f51b5; */
  background: #4F5F75 !important;
}

/* add create prescription css start */
.div-main-container-createpres {
    position: absolute;
    top: 5%;
    width: 100%;
    /* right: -2%; */
    left: 1%;
}
/* end css */

/* precription add csss submit btn start */
button#submit-btn {
  margin-top: 65%;
  margin-left: 1%;
}
/* end btn css */

/* signin add css start */
img.imgLog {
  /* border: 1px solid;
  border-radius: 60%;
  padding: 5px 5px 5px 5px;
  background: whitesmoke; */
}

span.span-signIn {
  position: relative;
  bottom: 20px;
  font-size: 23px;
  text-transform: uppercase;
  text-decoration: underline;
}

/* end signin css */

/* ----------------------------------- abandoned cart add css start ---------------- */



/* ----------------------------------- dashboar css ---------------------------*/

/* dashboar add start css */
.makeStyles-root-16 {
  padding: 2%;
  position: sticky;
}

/* --------------------------Abandoned Cart start css ---------------------------*/

/* Abandoned Cart start css 27-10-22*/
div#daterangId {
  padding: 0px 0px 46px 1px;
}
.div-dateRang {
  position: relative;
  top: 6px;
  text-align: center;
}
.div-dateRang1 {
  position: relative;
  top: 0px;
  text-align: center;
}
div#p-Sale {
  background: blueviolet;
  color: aliceblue;
}
div#p-Orders {
  background: #7f89ff;
  color: aliceblue;
}
div#p-Month-Stats {
  background: #46c0efb8
}
div#p-Last-Month-Stats {
  background: aquamarine;
  color: black;
}

.makeStyles-root-24 {
  padding: 7px;
}

div#mainDiv {
  padding: 7px;
}

a.csvBtn {
  text-decoration: none;
  margin-right: 87%;
  position: relative;
  bottom: 4px;
}

h3.h3-abandonedCart {
  margin-right: 60%;
  font-weight: 600;
  font-size: 18px;
  color: #a277cb;
}
span.span-dateRang {
  color: #555;
  font-weight: 500;
}
.MuiTypography-h6 {
  /* font-size: 1.25rem; */
  /* font-family: "Roboto", "Helvetica", "Arial", sans-serif; */
  /* font-weight: 500; */
  /* line-height: 1.6; */
  /* letter-spacing: 0.0075em; */
  color: #700acf;
  font-size: 18px;
}


/* ------------------------------------- Hero Banner add css ----------------------------------*/

.div-viewBaner {
  padding: 22px 0px;
}

h6.h6-viewBanner {
  /* margin-right: 88%;
  color: #700acf;
  font-size: 18px; */
    color: #700acf;
    font-size: 18px;
    position: relative;
    right: 490%;
}

.MTableToolbar-title-50 {
  display: none;
}

button.btn-addUser {
  margin-right: 83%;
  position: relative;
  top: 60px;
  z-index: 1;
  background: #1F4B6C;
  color: #fff;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: 1px solid;
}
.div-viewBanner {
  padding: 30px 30px 30px 30px;
}
/* .btn-addUser:hover {
  background: #1F4B6C;
  color: #fff;
} */

button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.btn-addUser {
  background: #1F4B6C;
  color: #fff;
}

.MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.MuiPaper-elevation24.MuiPaper-rounded {
  min-width: 75%;
  height: 1050px;
}
.btnSumit {
  position: relative;
  left: 0%;
  width: 35%;
}

.btn-bannerType {
  width: 99%;
  border: 1px solid lightgray;
  height: 53%;
  border-radius: 5px;
}

.btn-changedate {
  width: 99%;
  border: 1px solid lightgray;
  height: 100%;
  border-radius: 5px;
}

/* --------------------------------- Bulk Download add css ---------------------------------- */

.div-main-bulkDownload {
  height: 400px;
}
.MuiPaper-rounded {
  margin: 10px;
}
/* .div-pulldata {
  background: #D9534F;
  padding: 12px 0px 12px 0px;
  color: #fff;
} */
.MuiPaper-root.div-pulldata.MuiPaper-elevation1.MuiPaper-rounded {
    background: #D9534F;
    padding: 12px 0px 12px 0px;
    color: #fff;
    border: 1px solid;
    border-radius: 8px 10px 10px 10px;
    box-shadow: 3px 4px 0px 2px #b1b1b1;
}

/* .div-downexcel {
  background: #D9534F;
  padding: 12px 0px 12px 0px;
  color: #fff;
} */

.MuiPaper-root.div-downexcel.MuiPaper-elevation1.MuiPaper-rounded {
    background: #D9534F;
    padding: 12px 0px 12px 0px;
    color: #fff;
    border: 1px solid;
    border-radius: 8px 10px 10px 10px;
    box-shadow: 3px 4px 0px 2px #b1b1b1;
}
.div-PullData-Hover {
    margin-left: 5%;
    cursor: pointer;
}
.div-DowExc-Hover {
    margin-left: 5%;
    cursor: pointer;
}

.makeStyles-paper-2 {
    color: rgb(4 59 217) !important;
    padding: 16px;
    text-align: center;
}

span.span-dr-work {
  position: relative;
  top: 15px;
  right: 11%;
  font-size: 13px;
  font-weight: 400;
  color: #0e0d0d;
  text-transform: capitalize;
}

/* --------------------------- consultation dashboard css start ------------------------------ */

div#p-leads {
  background: #5ab797;
  color: #fff;
}

div#p-Consultations {
  background: blue;
  color: #fff;
}

div#p-Consulted {
  background: blueviolet;
  color: #fff;
}

div#p-Noshow {
  background: burlywood;
  color: #fff;
}

div#p-Yet_to_Consult {
  background: cadetblue;
  color: #fff;
}

div#p-Todays_Cart {
  background: chocolate;
  color: #fff;
}

/* ----------------------------- List Product add css start ------------------------------- */

h6.h6-Products {
  font-weight: 600;
  font-size: 18px;
  color: #700acf;
  position: relative;
  right: 409%;
  top: 8px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.btn-addNewBanner {
  margin-right: 83%;
  position: relative;
  top: 60px;
  z-index: 1;
  background: #1F4B6C;
  color: #fff;
  padding: 10px 20px 10px 20px;

}

/* ---------------------------------- List Doctors add css start ----------------------- */

h6.h6-Doctors {
  font-weight: 600;
  font-size: 18px;
  color: #700acf;
  position: relative;
  right: 450%;
  top: 8px;
}


/* ------------------------------------ web widgets Add css start ---------------------- */

spna.span-webWigets {
  position: relative;
  top: -12px;
  right: 20%;
  font-size: 13px;
  font-weight: 400;
  color: #0e0d0d;
  text-transform: uppercase;
}
.div-webAdd {
  
  height: 850px;
  block-size: auto;

}
div#rdw-wrapper-646 {
  padding: 1% 0% 10% 0%;
}
span.span-widgetName {
  margin-right: 91%;
  font-weight: 500;
}
span.span-htmldesign {
  margin-right: 87%;
  font-weight: 500;
}
span.span-css {
  margin-right: 90%;
  font-weight: 500;
}

h6.h6-CreateWidget {
  font-weight: 600;
  font-size: 18px;
  color: #700acf;
  position: relative;
  right: 44%;
  top: 8px;
}
.div-webAdd {
  height: 850px;
  block-size: auto;
  padding: 2%;
}

/* ------------------------------ time widget Add css start ----------------------------- */

span.span-timerWiget {
  position: relative;
  top: -17px;
  right: 20%;
  font-size: 13px;
  font-weight: 400;
  color: #0e0d0d;
  text-transform: uppercase;
}
h6.h6-TimerWidget {
  font-weight: 600;
  font-size: 18px;
  color: #700acf;
  position: relative;
  right: 43%;
  top: 8px;
}
span.span-Startdate {
  margin-right: 93%;
  font-weight: 500;
}

span.span-Enddate {
  margin-right: 93%;
  font-weight: 500;
}
span.span-Position {
  margin-right: 85%;
  font-weight: 500;
}
span.span-Alingment {
  margin-right: 82%;
  font-weight: 500;
}

span.span-Backgroundcolor {
  margin-right: 87%;
  font-weight: 500;
}
span.span-Textcolor {
  margin-right: 91%;
  font-weight: 500;
}

/* --------------------------- recommeded widget Add css start ----------------------------- */

span.span-recommeded {
  position: relative;
  top: -17px;
  right: 5%;
  font-size: 13px;
  font-weight: 400;
  color: #0e0d0d;
  text-transform: uppercase;
}

/* -------------------------- recommeded widgets Add css start ----------------------------- */

.div-server {
  margin-right: 90%;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 3%;
  text-decoration: underline;
  font-weight: 600;
}

h6.h6-recommeded {
  font-weight: 600;
  font-size: 18px;
  color: #700acf;
  position: relative;
  right: 38%;
  top: 8px;
}

.div-main-recommeded {
  height: 560px;
}

.div-radio-btn {
  margin-right: 80%;
}

.div-ProductID {
  margin-right: 87%;
  text-transform: uppercase;
  font-size: 13px;
  margin-top: 3%;
  text-decoration: underline;
  font-weight: 600;
}

.btn-submit {
  width: 30%;
  margin-left: 35%;
  margin-top: 1%;
}

  /*  */

  /* ------------------------------- dashboard add css start --------------------------------- */
  h1.h1-dashHeading {
    margin-top: 3%;
    font-size: 22px;
    margin-bottom: 0;
    font-weight: 600;
    text-transform: uppercase;
}